.ProfileForm {
    padding: 2rem 4rem;
    margin-bottom: 4rem;
    background-color: rgba(10, 34, 52, 0.7);
    border-radius: 10px;
}

.ProfileForm label {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(52, 48, 47);
}

.ProfileForm h1 {
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(52, 48, 47);
    text-align: center;
}


.form-control {
    margin-bottom: 1rem;
}